<h1>Editing Mobile User</h1>

<%= render 'form', mobile_user: @mobile_user %>

<%= link_to 'Show', driver_user_mobile_user_path(@driver, @mobile_user) %>
<%= link_to 'Back',  driver_user_mobile_users_path(@driver, @mobile_user) %>
