<h1>Editing Load Expense <%= @load.load_title %></h1>

<%= render 'form', load_expense: @transaction %>

<%= link_to 'Show',load_transaction_path(@transaction) %> |
<%= link_to 'Back', load_transaction_path %>
